<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
        <th:block th:fragment="style">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        </th:block>
    </head>
</head>
<body>
<div style="font-size: 50px">
    <h2>CHCE STRZELAĆ - API - BEGGINING!</h2>
</div>
</body>
</html>