<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LISTA STRZELNIC</title>
    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
        <th:block th:fragment="style">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">        </th:block>
    </head>
</head>
<body>
<div th:replace="mainMenu :: menu"/>
<div th:replace="mainMenu :: strzelniceMenu"/>
</body>
</html>